body {
  Background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
 color: whitesmoke;
 font-size: 52px;
}

.intro {
  background-color: rgba(30, 125, 138, 0.5);
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

h2 {
text-align: center;
}

.projects {
  background-color: rgba(62, 30, 138, 0.5)

}

.about {
  background-color: rgba(206, 125, 19, 0.75)
}

h3{

}