body {
  Background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  border-radius: 20px;
}

section {
  padding: 30vh 0;
}

.one {
  background: white;
  position: relative;
}

.one::after,
.one::before {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  background: white;
  bottom: 0;
}

.two {
  background: black;
  height: 1000px;
  width: auto;
  position: relative;
  z-index: 10;
}

.three {
  background: white;
  height: 1000px;
  width: auto;

}

.one::before {
  right: 50%;
  transform: skew(0, 20deg);
  z-index: 100;
}

.one::after {
  left: 50%;
  transform: skew(0, -20deg);
  z-index: 100;
}

h1 {
 color: whitesmoke;
 font-size: 52px;
 text-shadow: 2px 2px darkgray;
}

.intro {
  background-color: rgba(30, 125, 138, 0.5);
  width: 600px;
  border-radius: 40px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}

h2 {
text-align: center;
text-shadow: 0 0 4px black;
}

.projects {
  background-color: rgba(62, 30, 138, 0.5);
  width: 600px;
  height: 800px;
  border-radius: 20px;
  margin: 0, auto;
  padding: 30px;
  display: grid;
  place-items: center;
  position: relative;
  float: left;
}

.about {
  background-color: rgba(206, 125, 19, 0.75);
  width: 600px;
  height: 800px;
  border-radius: 20px;
  margin: 0, auto;
  padding: 30px;
  display: grid;
  place-items: center;
  position: relative;
  float: right;
}

h3{
  color: darkblue;
}